* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "DM Sans", sans-serif;
    background: #fff;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 62px;

    min-width: 170px;
    background: #5d3bee;
    padding: 16px 37px;
    color: #fdfdfd;
    font-weight: 700;
}

/* Header */
.header {
    background: #fbfaff;
}

.header.fixed {
    position: sticky;
    top: -10px;
    z-index: 3;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.contact__mail a {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.logo {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
}

.navbar__list {
    display: flex;
    column-gap: 43px;
}

.navbar__link {
    color: #51586a;
}

/* Hero */
.hero {
    background: #fbfaff;
}

.hero__inner {
    padding-top: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-media {
    display: flex;
    position: relative;
}

.hero__img {
    position: relative;
    min-width: 514px;
    min-height: 705px;
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: 2;
}

.hero__decor {
    position: absolute;
}

.decor-1 {
    top: 4px;
    left: 194px;
}

.decor-2 {
    left: -38px;
    top: 161px;
}

.decor-3 {
    right: 34px;
    bottom: 12px;
}

.decor-4 {
    bottom: 209px;
    right: 10px;
}

.decor-5 {
    bottom: -2px;
    right: -25px;
}

.decor-6 {
    bottom: -112px;
    right: 15px;
}

.decor-7 {
    bottom: -111px;
    right: -110px;
}

.decor-8 {
    bottom: -113px;
    right: -130px;
}

.hero__content {
    margin-left: 156px;
    position: relative;
}

.hero__heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    margin-bottom: 25px;
}

.hero__desc {
    color: #51586a;
    line-height: 1.67;
    margin-bottom: 55px;
    width: 370px;
}

.hero__row {
    margin-bottom: 104px;
}

.work {
    color: #080415;
    font-weight: 700;
    margin-left: 27px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.hero__social {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__direct {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
}

/* Clients */
.client__inner {
    margin-top: 100px;
    display: flex;
    column-gap: 105px;
}

.client__heading {
    display: flex;
    position: relative;
    gap: 1.6rem;
    color: #080415;
    width: 253px;

    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
}

.client__heading::before {
    content: "";
    position: absolute;
    top: -9px;
    left: -99px;
    display: inline-block;
    width: 8.6rem;
    height: 2px;
    flex-shrink: 0;
    background: #5d3bee;
    margin-top: 0.7em;
}
